@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    list-style-type: none;
}

body{
    width: 100%;
    background: linear-gradient(-45deg, #194270, #43C6AC, #24bdd1, #23d5ab);
    /* background: linear-gradient(-45deg, #194270, #43C6AC); */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.page-container{
    background-color: white;
    padding: 0;
}

.logo{
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 50%;
    background-attachment: fixed;
}



h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

button.normal:hover{
    background-color: #088178;
    color: white;
    transition: all 0.3s ease;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: all 0.3s ease;
}

button.white:hover{
    border-color: #088178;
    background-color: #088178;
    color: white;
    transition: all 0.3s ease;
}

/* Header Start */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #194270;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.56);
    z-index: 999;
    position: sticky;
    top: 0;
}

.nav-logo{
    width: 10%;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    padding: 0 20px;
    position: relative;
}

#navbar a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    /* color: #1a1a1a; */
    transition: all 0.3s ease;
}

#navbar a:hover, #navbar a.active{
    /* color: rgb(245, 241, 17); */
    color: #24bdd1;
    transition: all 0.3s ease;
}

#navbar a.active::after, #navbar a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #24bdd1;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */
#hero{
    /* background: linear-gradient(to right, #bdc3c7, #2c3e50); */
    background-image: url(Assets/Images/ps52.jpg);
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-end;
}

#hero h4{
    padding-bottom: 15px;
    color: #194270;
}

#hero h2{
    color: #194270;
    padding-bottom: 15px;
}

#hero button{
    background-image: url(Assets/Images/button.png);
    background-color: transparent;
    color: #194270;
    border: 0;
    padding: 14px 80px 14px 65px;
    margin-bottom: 150px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    background-color: whitesmoke;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.18);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 15px;
    transition: all 0.3s ease;
}

#feature .fe-box:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #194270;
    background-color: #fddde4;
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    position: relative;
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 30px;
    transition: all 0.3s ease;
}

#product1 .pro:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
}

#product1 .pro img{
    width: 100%;
    height: 75%;
    object-fit: contain;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    margin-bottom: 0px;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}  

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500; 
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Assets/Images/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: white;
    font-size: 16px;
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #088178;
}

#sm-banner{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(Assets/Images/b18.jpg);
    min-width: 680px;
    height: 60vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px; 
}

#sm-banner .banner-box2{
    background-image: url(Assets/Images/b10.jpg);
}

#sm-banner h4{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#banner-2{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Assets/Images/ban3.jpg);
    width: 100%;
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(Assets/Images/b14.png);
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color: #041e42;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter span{
    color: #ffbd28;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .payment img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

footer ._logo{
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

footer ._logo:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
}

/* Shop Page */
#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    margin: 2px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    transition: all 0.3s ease;
}

#pagination a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

#pagination i{
    font-size: 16px;
    font-weight: 600;
}

#pagination .active{
    color: #ffbd28;
}


/* Single Product */
#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
    border: 1px solid #cce7d0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#prodetails .single-pro-image img{
    width: 80%;
    transition: all 0.3s ease;
}

/* #prodetails .single-pro-image img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
} */

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color: white;
}

#prodetails .single-pro-details button:hover{
    color: #ffbd28;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

#prodetails .single-pro-details li{
    list-style-type: disc;
}

/* Contact Page */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span, #form-details form span{
    font-size: 12px;
}

#contact-details .details h2, #form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}  

#contact-details .details li p{
    font-size: 14px;
    margin: 0;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}  

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}  

#form-details{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input, #form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: white;
}



/* Media Queries */
/* @media (max-width: 799px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }
} */